@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.sectionSobre {
    min-height: 100vh;
    background-color: #E7A49B;
    padding: 80px 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sectionSobre h2 {
    font-size: 40px;
    font-weight: 600;
    color: #2B2B2B;
    margin-bottom: 40px;
}

.sobreContainer {
    max-width: 800px;
    margin: 0 auto;
}

.sobreContainer p {
    font-size: 16px;
    line-height: 26px;
    color: #ffffff;
    margin-bottom: 20px;
}

.btnCurriculo {
    margin-top: 30px;
    padding: 12px 35px;
    border-radius: 100px;
    border: none;
    background-color: #453C3C;
    color: white;
    font-size: 15px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.btnCurriculo:hover {
    background-color: #2B2B2B;
}