@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.main-container {
    display: flex;
    flex-direction: column;
}

.sectionHome {
    display: flex;
    flex-direction: column;
    background-image: url(../img/background.jpg);
}

.homeNav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
}

.homeNav>ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 40px;
}

.homeNav>ul>li>a {
    display: flex;
    text-decoration: none;
    justify-content: space-between;
    color: white;
    transition: 0.2s ease-in-out;
}

.homeNav>ul>li>a:hover {
    padding: 0px 8px;
    background-color: #2B2B2B;
    border-radius: 10px;
}

.navLogo {
    font-family: "Oleo Script", system-ui;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 25px;
    line-height: 20px;
    color: white;
}

.btnContato {
    padding: 10px 30px 10px 30px;
    border-radius: 10px;
    color: white;
    border: none;
    background-color: #453C3C;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}


.btnContato:hover {
    transition: 0.2s ease-in-out;
    background-color: #ffffff;
    color: #453C3C;
    transition: 0.2s ease-in-out;
}

.homeInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding: 100px;
}

.imagePerfil {
    display: flex;
    object-fit: cover;
    border-radius: 100%;
    width: 300px;
    height: 300px;
    margin-bottom: 20px;
}

.imagePerfil>img {
    display: flex;
    object-fit: cover;
    width: 100%;
    height: 300px;
    border-radius: 100%;
}

.tituloInfo {
    display: flex;
    flex-direction: column;
    line-height: 30px;
    padding: 10px;
}

.tituloInfo>h1 {
    font-size: 39px;
    color: white;
}

.tituloInfo>span {
    font-size: 18px;
    font-weight: bold;
    color: #453C3C;
    margin-bottom: 20px;
}

.infoParagrafo {
    display: flex;
    max-width: 500px;
}

.infoParagrafo>p {
    font-size: 20px;
    line-height: 23px;
    font-weight: 400;
    color: white;
    margin-bottom: 20px;
}

.btnProjetos {
    width: fit-content;
    padding: 12px 30px 12px 30px;
    border-radius: 100px;
    margin: 0 auto;
    color: white;
    border: 1px solid #FFC0B8;
    background: none;
    cursor: pointer;
    margin-bottom: 40px;
    transition: 0.2s ease-in-out;
}

.btnProjetos:hover {
    transition: 0.2s ease-in-out;
    background-color: #2B2B2B;
}

.linhaStyle {
    background-image: linear-gradient(to right, #FFBBB2, #B67770);
    background-color: #453C3C;
    padding: 15px;
}

.sectionSobre {
    height: 400px;
    background-color: #E7A49B;
}